{% extends "base.html"%}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <body>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5">
                <div class="col-mb-6 ">
                    {% for hood in hoods %}
                        <div class="card  shadow-lg p-3 mb-5 bg-white rounded">
                            <h1 style="font: bolder; font-size: 20px; text-align: center; color:#5171A5;"></h1>
                            <ul style="text-align: left;" class="list-group list-group-flush">
                                    <p style="color:#5171A5; text-decoration: none; font-size: 30px; font: bolder;"
                                        class="card-text"><b>{{hood.name}}&nbsp;</b></p>
                                <li class="list-group-item">
                                    <p style="color:#5171A5; text-decoration: none;" class="card-text"> <a
                                            style="color:#5171A5; text-decoration: none;"
                                            href="{%url 'add-business' hood.id%}"><b>Ongeza Biashara</b></a></p>
                                </li>
                                <li class="list-group-item">
                                    <p style="color:#5171A5; text-decoration: none;" class="card-text"> <a
                                            style="color:#5171A5; text-decoration: none;" href="{%url 'post' hood.id%}"><b>Add
                                                Post</b></a></p>
                                </li>
                                <li class="list-group-item">
                                    <p style="color:#5171A5; text-decoration: none;" class="card-text"> <a
                                            style="color:#5171A5; text-decoration: none;" href="{% url 'leave' %}"><b>Jitoe
                                                Jiranihood</b></a>
                                    </p>
                                </li>
                            </ul>
                            <li class="list-group-item">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#"
                                        style="text-decoration: none; color:#5171A5; border: none;" role="button"
                                        data-toggle="dropdown">
                                        <b>Police Address</b>
                                    </a>
                                    <div class="dropdown-menu">
                                        <p style="color: #5171A5; font: bolder" class="dropdown-item" href="#">{{hood.police}}
                                            &nbsp; - &nbsp;
                                            {{hood.police_department_address}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" style="text-decoration: none; color:#5171A5;"
                                        role="button" data-toggle="dropdown">
                                        <b>HealthCare Address</b>
                                    </a>
                                    <div class="dropdown-menu">
                                        <p style="color: #5171A5; font: bolder" class="dropdown-item">{{hood.health}} &nbsp; -
                                            &nbsp;
                                            {{hood.health_department_address}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </div>
                    {% endfor%}
                </div>
                <div class="col-sm-4 col-md-6 col-xs-4 ">
                    {% for business in businesses %}
                        <div class="card  shadow-lg p-3 mb-5 bg-white rounded ">
                            <h1 style="font: bolder; font-size: 20px; text-align: center; color: #5171A5">BIASHARAS AROUND</h1>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p style="color: #5171A5;"><b>NAME:</b>&nbsp;{{business.business_name}}</p>
                                    <p style="color: #5171A5;"><b>EMAIL:</b>&nbsp;{{business.business_email}}</p>
                                    <p style="color: #5171A5;"><b>EMAIL:</b>&nbsp;{{business.business_pic}}</p>
                                </li>
                            </ul>
                        </div>
                    {% endfor%}
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-sm-4 col-md-8 col-xs-4">
                    {% for post in posts %}
                        <div class="card  shadow-lg p-3 mb-5 bg-white rounded">
                            <h1 style="font: bolder; font-size: 30px; text-align: center; color:#5171A5">POST</h1>
                            <ul style="color: #5171A5;" class="list-group list-group-flush">
                                <br>
                                <li class="list-group-item">{{post.categories}}</li>
                                <li class="list-group-item">
                                <li style="" class="card">
                                    <img src="{{post.post_image.url}}" class="img-responsive" style=""
                                        data-toggle="modal" data-target="#myModal{{image.id}}" alt="" /></li>
                                <li class="list-group-item">Description:&nbsp; {{post.description}}</li>
                                <li class="list-group-item">{{post.time_created}}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</div>
{% endblock %}
