{% extends "base.html"%}
{% load bootstrap3 %}
<div>
    {% block content %}
        <div class="text-center" style="padding-top:70px; font-family: 'Trade Winds';">
        <h1>Karibu Jiranihood.<br/>Join channel na ujue mtaa yako</h1>
        </div>
        <hr>
        <div class="container">
            <body>
                <div class="row">
                    {% for hood in hoods %}
                        <div class="col-md-4 mr-5">
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-text text-center"><b>{{hood.name}}</b></h3>
                                </div>
                                <br>
                                <div class="card-body">
                                    <img class="card-img-top" src="{{ business.jirani_pic.url }}">
                                </div>
                                <div class="card-footer">
                                    <p class="btn btn-success text-center">
                                        <a href="{% url 'business' hood.id %}" style="color: black;" class="center"><b>Join {{hood.name}} Community</b></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </body>
        </div>
    {% endblock %}
</div>