{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <br>
            <br>
            <div class="col-sm-4 col-md-4 col-xs-1">
                <div class="media">
                    <img style="border-radius:150px;width:150px;height:150px" class="rounded-circle"
                        src="{{ user.profile.profile_pic.url }}">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xs-10">
                <div class="media-body">
                    <h2 style="color: #004040;" class="account-heading">{{ user.username }}</h2>
                    <br>
                    <a style="background-color: #004040; color: white" class="btn btn-outline-info"
                        href="/update/profile/{{hood.id}}">Edit Profile</a>
                    <br>
                    <br>
                    <p style="color: #004040;"><b>About
                            me:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{profile.bio}}
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <p style="text-align:center; color: black;">My Posts</p>
        <hr>
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-4 col-md-4 col-xm-1">
                    <div style="" class="card">
                        <img src="{{post.post_image.url}}" class="img-responsive" style="height: 240px !important"
                            data-toggle="modal" data-target="#myModal{{post_image.id}}" alt="" />
                        <ul style="color: #5171A5;" class="list-group list-group-flush">
                        <li class="list-group-item">{{post.categories}}</li>         
                        <li class="list-group-item">Description:&nbsp; {{post.description}}</li>
                        <li class="list-group-item">{{post.time_created}}</li>
                        </ul>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock %}