{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
    <div style="background-image: url(https://liveraleighapts.com/assets/images/cache/rotator-3-15304d4217b7886fb9d5963db0242d03.jpg")>
        <div class="container" style="background-image: https://liveraleighapts.com/assets/images/cache/rotator-3-15304d4217b7886fb9d5963db0242d03.jpg">
            <div class="col-md-12">
                <div class="col-md-3">
                <p></p>
                </div>
                <div class="col-md-6">
                    <div style="font-size: 18px;" class="error ">
                        {% if form.errors %}
                        <p> YOur username or password might be incorrect, reenter. </p>
                        {% endif %}
                    </div>
                    <div class="panel panel-default shadow rounded" style="background-image: linear-gradient(to bottom, #7ee76e, #7fd959, #80ca45, #80bc2f, #7fae14);">
                        <br>
                        <div class="panel-heading ">
                        <div class="text-center">
                        <img src="http://pngimg.com/uploads/house/house_PNG74.png" class="img-responsive" style="" alt="Hood house">
                        </div>
                            <p style="font-size: 20px;" class="text-center">Sign In</p>
                            <p class="text-center">No account yet? <a style="" href="/accounts/register">Sign Up</a>
                            </p>
                        </div>
                        <hr>
                        <div class="panel-body">
                            <form action="/accounts/login/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form%}
                                <br>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block change" value="LOGIN">
                                </div>
                                <input type="hidden" name="next" value="{{next}}">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-">
                
                </div>
                <!-- Styling div -->
            </div>
        </div>
    </div>
{% endblock %}
