{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div style="background-image: linear-gradient(to bottom, #7ee76e, #6cd95a, #5aca46, #46bc30, #2fae14);">
    <div class="container">
        <div class="row">
            <!-- Styling div -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div style="font-size: 18px;" class="error ">
                    {% if form.errors %}
                        <p> Some Information might be Incorrect </p>
                    {% endif %}
                </div>
                <br>
                <div class="panel panel-default rounded" style="background-image: linear-gradient(to bottom, #7ee76e, #7fd959, #80ca45, #80bc2f, #7fae14);">
                    <br>
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://pngimg.com/uploads/house/house_PNG74.png" class="img-responsive" alt="Neighbour-Houses-Black-Icon">
                            </div>
                            <div class="col-md-4">
                                <p class="text-center"> Are you a member? <a style="" href="/accounts/login">Login</a></p>
                            </div>
                        </div>   
                    </div>
                    <div class="panel-body">
                        <form action="/accounts/register/" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <br>
                            <div class="form-group change">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" style="" value="Sign Up">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Styling div -->
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}
